<div
  [class]="'flex items-center gap-3 px-3 py-2.5 transition-all ' + (isWinner ? 'bg-frederico-yellow/10' : '') + (isLoser ? ' opacity-40 grayscale' : '')">
  <ng-container *ngIf="team; else emptyTeam">
    <div
      [class]="'relative w-9 h-9 rounded-full overflow-hidden flex-shrink-0 ' + (isWinner ? 'ring-2 ring-frederico-yellow' : 'ring-1 ring-frederico-gray')">
      <img [src]="team.img" [alt]="team.name" [class]="'w-full h-full object-cover ' + (isWinner ? '' : 'grayscale')" />
    </div>
    <ng-container [ngSwitch]="team.name">
      <img *ngSwitchCase="'Brasil'" src="assets/icons/brasil.png" alt="Brasil" class="w-6 h-6 object-contain" />
      <img *ngSwitchCase="'Argentina'" src="assets/icons/argentina.png" alt="Argentina"
        class="w-6 h-6 object-contain" />
      <img *ngSwitchCase="'EUA'" src="assets/icons/estados-unidos.png" alt="EUA"
        class="w-6 h-6 object-contain" />
      <img *ngSwitchCase="'França'" src="assets/icons/franca.png" alt="França" class="w-6 h-6 object-contain" />
      <img *ngSwitchCase="'Japão'" src="assets/icons/japao.png" alt="Japão" class="w-6 h-6 object-contain" />
      <span *ngSwitchDefault class="text-xl leading-none">{{ team.flag }}</span>
    </ng-container>
    <span
      [class]="'font-anton text-base uppercase tracking-wider truncate flex-1 ' + (isWinner ? 'text-frederico-yellow' : 'text-white/80')">
      {{ team.name }}
    </span>
    <div *ngIf="isWinner" class="w-1 h-1 rounded-full bg-frederico-yellow animate-pulse"></div>
  </ng-container>
  <ng-template #emptyTeam>
    <div class="w-9 h-9 rounded-full bg-frederico-black border border-dashed border-frederico-gray"></div>
    <span class="font-anton text-base uppercase tracking-wider text-frederico-gray">
      A Definir
    </span>
  </ng-template>
</div>